div.title {
    text-align: center;
    color: darkslategray;
    margin: 0.5em;
    background-color: antiquewhite;
    padding: 1.5em;
    font-size: larger;
}

body {
    background-color: #c4c4c4;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
    color: darkslategray;
    margin: 0.5em;
    font-weight:normal;
}

h1 {
    text-align: center;
    color: darkslategray;
    margin: 0.5em;
}

div.entering_input {
    align-content: center;
    text-align: center;
}

input.user-input {
    height : 30px
}
button {
    size: 3em;
    background-color: antiquewhite;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

div {
    margin: 0.8em
}

.form {
    text-align: center;
}

.option1 {
    background-color: blue;
}

.option2 {
    background-color: green;
}
.graph {
    align-content: center;
    text-align: center;
    margin: 3em;
}
div {
    margin: 2em;
}

select {
    margin: 0.6em;
    height: 3em;
}
button {
    height: 4em;
    margin: 2em;
}
th {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-inside: auto;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-inside: 2em;
}